.App {
  text-align: center;
  height: 100vh;
  background-color: #faeee7;
}

/*Header*/

.header{
  color: #33272a;
  background-color: #fffffe;
}

.menu-item{
  width: 120px;
  padding: 1.4rem;
  text-align: center;
  cursor: pointer;
}

.menu-item:hover{
  border-bottom: 2px solid #ff8ba7;
  color: #ff8ba7;
}


/*homePage*/

.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 2em;
}

